<footer class="sticky bottom container-fluid ">
        <div class="row">
        <section class="col">
        
        </section>
        <section class="col">
        <img src="{{('assets/images/images_the_district/the_district_brand/twitter_header_photo_1.png')}}" alt="" width=100% height=100% >
        </section>
        <section class="col">
        
        </section>
    </footer>