{% extends 'base.html.twig' %}

{% block title %}Liste des plats de la catégorie {{category.libelle}}{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
    <div class="col-12">
        <h1>Liste des plats de la catégorie {{category.libelle}}</h1>
    </div>
     {% for plat in plat %}
        <div class="col-3">
            <article class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ plat.libelle }}</h2>
                    <p class="card-text">{{plat.description}}</p>
                    <a href="#" class="btn btn-primary">Voir les détails</a>
                </div>
            </article>
        </div>
    {% endfor %}
    </section>
</main>
{% endblock %}

