{% extends 'base.html.twig' %}

{% block title %}Administration des plats{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h3>Ajouter un plat<h3>
                {% include "admin/plats/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}
